version: 2.3.0-ci.{build}

image: Visual Studio 2017

before_build:
  - cmd: set build_options=--configuration Release --version-suffix ci.%appveyor_build_number%
  - cmd: if [%appveyor_repo_branch%]==[release] set build_options=--configuration Release

build_script:
  - cmd: dotnet --info
  - cmd: dotnet build %build_options%
  - cmd: dotnet pack %build_options% --include-symbols

before_test:
  - cmd: dotnet msbuild test\NeinLinq.Tests\NeinLinq.Tests.csproj /t:Clean;Build /p:Configuration=Release;DebugType=Full

test_script:
  - cmd: dotnet msbuild test\NeinLinq.Tests\NeinLinq.Tests.csproj /t:OpenCover /p:Configuration=Release;TargetFramework=net461
  - cmd: dotnet msbuild test\NeinLinq.Tests\NeinLinq.Tests.csproj /t:OpenCover /p:Configuration=Release;TargetFramework=netcoreapp2.0

after_test:
  - cmd: dotnet msbuild test\NeinLinq.Tests\NeinLinq.Tests.csproj /t:ReportGenerator

artifacts:
  - path: src\**\*.nupkg
  - path: TestResults

deploy:
  - provider: Environment
    name: blob.core.windows.net
    on:
      branch: master
  - provider: Environment
    name: nuget.org
    on:
      branch: release
