<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis" ToolsVersion="10.0">
    <IncludeAll Action="Error" />
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <!-- Collections should implement generic interface -->
        <Rule Id="CA1010" Action="None" />
        <!-- Do not pass literals as localized parameters -->
        <Rule Id="CA1303" Action="None" />
        <!-- Identifiers should have correct suffix -->
        <Rule Id="CA1710" Action="None" />
        <!-- Operator overloads have named alternates -->
        <Rule Id="CA2225" Action="None" />
    </Rules>
</RuleSet>
